{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container opacity" id="about">
        <div class="card justify-content-center col-md-9 col-sm-12" >
            <h2 class="my-4">A propos de nous</h2>
            <div class="card-body">
                <p class="card-text">
                    Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est
                    usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris,
                    alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles
                    spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant,
                    quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris
                    praedatricibus obiecti sunt praeter morem.
                </p>
                <p class="card-text">
                    Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est
                    usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris,
                    alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles
                    spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant,
                    quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris
                    praedatricibus obiecti sunt praeter morem.
                </p>
                <p class="card-text">
                    Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est
                    usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris,
                    alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles
                    spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant,
                    quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris
                    praedatricibus obiecti sunt praeter morem.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
