* {
    padding: 0;
    margin: 0;
}

html, body{
    height:100%;
}

main{
    min-height:100%;
    position:relative;
}

/*head*/

#navbar-ul{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#navbar-ul li{
    text-align: center;
}

#navbar-ul li a{
    color: white;
}

h1{
    text-align: center;
}

/*contact*/
.contact-button{
    justify-content: center;
}

/*footer*/

footer{
    position: absolute;
    width: 100%;
}

#footer-ul{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#footer-ul li{
    padding: 0 2%;
}

#footer-ul li a{
    color: white;
}

@media only screen and (max-width: 690px) {
    #navbar-ul{
        flex-direction: column;
    }
}